body{
    font-family: 'Playfair Display', serif;
}

h2{
    font-weight: 700;
}

p{
    font-weight: 400;
}

.container{
    margin: 0 auto;
    width: 90%;
}

.flex{
    display: flex;
    /*  Para ocupar el 100 de la pantalla*/
    flex-wrap: wrap;
}

.text-center{
    text-align: center;
}

.columna{
    background: rgb(228, 228, 228);
    color: #333;
    border: 1px solid #333;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888888;
    /* box-shadow: -10px -10px red; */
    width: 22%;
    box-sizing: border-box; 
}

.precio{
    font-size: 50px;
    color: #00dac7;
}

.btn-precio{
    background: salmon;
    display: block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: 10px;
}

.btn-precio:hover{
    background: rgb(250,93,75);
}

@media (max-width: 1070px){
    .columna{
        width: 45%;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px){
    .columna{
        width: 100%;
        margin-bottom: 20px;
    }
}